div.imagelinkbox {
    float: left;
    width: 120px;
    height: 200px;
    margin: 0 0 5px 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

div.outer {
	display: box;
	float: none;
    width: 100%;
    margin-bottom: 50px;
    padding: 5px;
    background-color: lightgray;
    border: none;
    text-align: center;
}

table.imagelinkbox tr, td {
	padding: 5px;
}

input:hover {    
    color: red;
}

label:hover {    
    color: red;
}

img {    
    border: 1px solid transparent;
}

img:hover {    
    border: 1px solid red;
}