table.scheduleView {  
    border-collapse: collapse;
    padding: 0;
	margin: 0;
}

table.scheduleView th {
	text-align: left;	
	font-size: 90%;
	font-weight: 100;
}

table.scheduleView tr {
	padding: 0px;
	margin: 0;
	border: 0px;
}

table.scheduleView td {
	text-align: left;	
	padding: 0px;
	margin: 0;		
	border: 1px solid white;
}

table.scheduleView td:hover{		
	padding: 0px;
	border-style: solid;
	border-width: 2px;		
	border-color: gray;
}

